@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

h1, h2, h3, h4 {
font-family: "Rethink Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
}
h5, h6, p {
    font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
}

:root {
    --basic-dark: #191D32;
    --basic-light: #edf5fc;
    --basic-blue: #0496FF;
    --basic-rose: #FF206E;
    --basic-yellow: #FAF338;
    --bs-primary: var(--bs-indigo);
}